body{
    background-color: #110e19;
}

.facebook{
    font-size: 40px;
    margin-right: 20px;  
}
.facebook:hover{
    color: #4064ac;
}
.github{
    font-size: 40px; 
    margin-right: 20px; 
}
.github:hover{
    color:#a85fcc;
}
.linkedIn{
    font-size: 40px; 
    margin-right: 20px;  
}
.linkedIna:hover{
    color: #0077b5;
}
.instagram{
    font-size: 40px; 
    margin-right: 20px; 
}
.instagram:hover{
   color:red;
}