.dev-by{
    font-weight: 800;
    color:#ffffff;
    margin-top: 5px;
    
}
a{
    color: white;
}
.git{
    font-size: 20px;
    margin-top: 10px;
    margin-right: 8px;  
}
.linkedInn{
    font-size: 20px;
    margin-right: 8px; 
    color: #0b74b1;
}

.fb{
    font-size: 20px;
    margin-right: 8px;
    background-color: #4064ac; 
}